@import "tailwindcss";
input[type="range"] {
  pointer-events: none;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #1D4ED8;
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: 0 1px 4px rgba(29,78,216,0.4);
}
input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #1D4ED8;
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: 0 1px 4px rgba(29,78,216,0.4);
}